---
import LinkInline from "./LinkInline.astro"

// Definición de la interfaz Props
// Define las propiedades esperadas para el componente ExperienceItem.
// - `title`: Título de la experiencia.
// - `company`: Nombre de la empresa o institución.
// - `description`: Descripción detallada de la experiencia.
// - `link`: Enlace relacionado con la experiencia (opcional).
// - `date`: Fecha de la experiencia.
interface Props {
  title: string
  company: string
  description: string
  link?: string
  date: string
}

// Extracción de las propiedades desde Astro.props
const { title, company, description, link, date } = Astro.props
---

<!-- Contenedor principal de la experiencia -->
<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <!-- Sección izquierda: Título, empresa y fecha -->
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <!-- Indicador visual de la experiencia -->
      <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">&bull;</span>

      <!-- Título de la experiencia -->
      <h3 class="text-xl font-bold text-yellow-400">{title}</h3>

      <!-- Nombre de la empresa -->
      <h4 class="font-semibold text-xl text-gray-600 dark:text-white">{company}</h4>

      <!-- Fecha de la experiencia -->
      <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">{date}</time>
    </div>
  </div>

  <!-- Sección derecha: Descripción y enlace -->
  <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">
    <!-- Descripción de la experiencia -->
    {description}

    <!-- Enlace relacionado con la experiencia (opcional) -->
    {
      link && (
        <LinkInline href={link}>
          Learn more{" "}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 icon icon-tabler icon-tabler-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <>
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 6l6 6l-6 6" />
            </>
          </svg>
        </LinkInline>
      )
    }
  </div>
</div>
